:root {
    --theme-color: rgb(164, 243, 194);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    height: 100%;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.sidebar {
    background: var(--theme-color);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

}

.sidebar img {
    width: 30px;
    height: auto;
    margin-right: 35px;
}

.sidebar ul, li {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.sidebar ul {
    margin-bottom: 50px;
}

.sidebar li {
    font-size: 18px;
    margin-top: 25px;
    font-weight: 700;
}

.list-item {
    display: flex;
    align-items: center;
    text-align: right;
}

.logo {
    display: flex;
    margin-left: 30px;
}

.logo img {
    width: 55px;
    height: auto; 
    margin-right: 17px;  
}

.logo p {
    font-size: 24px;
    font-weight: 700;
}



.header {
    background: white;
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 75px;
}

.search-bar-icons {
    width: 25px;
    height: auto;
    margin-left: 40px;
}

.header input {
    background: rgb(237, 237, 237);
    margin-left: 20px;
    margin-right: 200px;
    border-radius: 15px;
    height: 25px;
    width: 700px;
    border: none;
}

.header input:focus {
    outline: none;
}

.search-profile-picture {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.right-side {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.right-side p {
    font-size: 18px;
    font-weight: 800;
}


.greeting {
    flex: 1;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.greeting img {
    width: 75px;
    height: auto;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 30px;
}

.greeting p {
    font-weight: 800;
}

.greeting-left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-greeting-text {
    font-size: 24px;
}

.greeting-right-side {
    display: flex;
    gap: 50px;
}

.greeting button {
    background: var(--theme-color);
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 800;
}



.main-content {
    background: grey;
    grid-area: main-content;
}